@import url("https://fonts.googleapis.com/css?family=Patua+One&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #527787;
}

body {
  color: #2d302f;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --international-orange: #b2696d;
  --medium-blue: #527787;
  --light-blue: #75a2b3;
  --light-gray: #efefef;
}

.bg-dark {
  background-color: var(--medium-blue)!important;
  color: white;
}

.bg-med-blue {
  background-color: var(--light-blue);
}

.bg-light {
  background-color: var(--light-gray)!important;
}

.header-text {
  padding-top: 4rem;
  padding-right: 10vw;
}
.parallax {
  background-image: url("./img/brand/header.png");

  height: 50vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-top {
  background-position: top;
}
.parallax-bottom {
  background-position: bottom;
}

.navbar-brand img {
  width: 40px;
  margin-left: 10px;
}

.section-img {
  margin-bottom: 10px;
  color: var(--international-orange);
}

.section-title {
  text-transform: lowercase;
}

h1, h2, h3, h4 {
  font-family: 'Patua One', cursive;
  color: var(--international-orange);
}
h5 {
  font-weight: 600;
}

.container-fluid a {
  color: var(--medium-blue);
  text-decoration: underline;
}
a:hover {
  color: var(--light-blue);
}

.text-xl {
  font-size: 10em;
}